<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key ="CompanyDB" value ="SBODemoIN"/>
    <add key ="UserName" value ="manager"/>
    <add key ="Password" value ="1234"/>
    <add key ="Server" value ="LENOVO-PC"/>
    <add key ="DbUserName" value ="sa"/>
    <add key ="DBType" value ="2008"/>
    <add key ="DbPassword" value ="sap2008"/>
    <add key ="LicenseServer" value ="LENOVO-PC"/>
    <add key ="OpenFolder" value ="C:\Users\LENOVO\Desktop\BAYAN\OpenFolder"/>
    <add key ="SuccessFolder" value ="C:\Users\LENOVO\Desktop\BAYAN\SuccessFolder"/>
    <add key ="SynInterval" value ="30000"/>
    
  </appSettings>
</configuration>
